.cart__page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 0px 40px;
}

.cart__content {
  margin-top: 50px;
  margin: 40px 50px;
  display: flex;
  justify-content: center;
}

.cart__content h1 {
  font-size: 30px;
  font-weight: 900;
}

.cart__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  list-style-type: none;
  padding: 0px;
}
.cart__item {
  display: flex;
  padding: 10px;
  border: #aaa 1px solid;
  width: 450px;
}
.cart__item:not(:first-child) {
  margin-top: 20px;
}
.item__image {
  width: 100px;
  height: 100px;

  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.item__image img {
  width: 70px;
  height: 90px;
}
.item__info {
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item__category {
  color: #aaa;
  font-size: 12px;
}
.item__name {
  font-weight: 500;
  font-size: 14px;

}

.item__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item__price span {
  font-size: 14px;
  font-weight: 500;
}
.item__delete {
  align-self: flex-end;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.item__delete:hover {
  color: rgb(187, 0, 0);
}

.item__amount button {
  color: white;
  border: none;
  background-color: rgb(35, 123, 255);
  padding: 2px 6px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.item__amount button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.item__amount button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.item__amount button:hover {
  background-color: rgb(11, 90, 209);
}

.item__amount {
  display: flex;
}
.item__amount .amount {
  padding: 2px 20px;
  border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
  font-size: 12px;
}

.main {
  margin-right: 10px;
}

.empty {
  font-size: 30px;
  color: rgb(156, 33, 11);
  font-weight: 600;
}

.cart__total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  width: 400px;
  padding: 15px 45px;
  border-radius: 5px;
}
.total__price{
  font-size: 16px;
  font-weight: 500;
}
.delete__cart{
  cursor: pointer;
  transition: color 0.1s;
  }
.delete__cart:hover{
  color: rgb(156, 33, 11);
}